<!DOCTYPE html>
{% extends "container.html" %}

{% block content %}

<h1>{{ active_page }}</h1>
{% for document in collection %}
<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col card {{ document['cardClass'] }}">
        <h1>
            <a href="{{ document['url'] }}">
                {{ document["title"] }}
            </a>
        </h1>
        <div class="row">
            <description class="col-8">
                {{ document["description"] }}
            </description>
            <time class="col-4">{{ document["date"] }}</time>
        </div>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>

{% endfor %}

{% endblock content %}